#blog-title {
  font-family: 'Special Elite', monospace;
  text-align: center;
}

.wrapper-thin {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

#quote {
  padding: 0 8px;
}

hr {
  height: 2px;
  border: none;
  background-color: #AAA;
}

a {
  text-decoration: none;
}

.post-listing {
  padding: 8px;
}

.post-listing h3 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 8px;
}

.post-listing p {
  color: #333;
  font-style: italic;
}
