h3 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 5px;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: normal;
  font-style: italic;
}

.date {
  margin-bottom: 15px;
}

.wrapper p {
  text-align: justify;
}

.interviewer {
  font-weight: bold;
  margin-bottom: 5px;
}

em {
  font-style: italic;
}

hr {
  height: 2px;
  border: none;
  background-color: #AAA;
}

img {
  display: block;
  margin: 15px auto;
  width: 100%;
}

ol, ul {
  list-style: initial;
  padding-left: 1em;
}

b {
  font-weight: bold;  /* why is this necessary?... */
}

.caption {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center !important;
  margin-bottom: 15px;
}

.podcast-icon {
  float: left;
  margin: 5px 10px 5px 0px;
  height: 20em;
  width: 20em;
}


/*--- Media Queries ---*/
@media (max-width: 992px) {
  /* medium screens */
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  .podcast-icon {
    height: 15em;
    width: 15em;
  }
}

@media (max-width: 768px) {
  /* smol screens */
  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  /* v smol screens */
  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .podcast-icon {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
