/* ------ RESET ------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ END RESET ------- */

body {
  font-size: 16px;
  font-family: Oxygen, Avenir, Arial, sans-serif;
  background-color: #EEE;
  color: #333;
  text-align: left;
  line-height: 1.5;
}

.full-window {
  width: 100vw;
  height: 100vh;
}

.valign-parent {
  display: table;
}

.valign-child {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
	font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

p, ul {
  font-size: 1rem;
}

ul {
	margin: 0 0 0 15px;
  padding-left: 0px;
  list-style-type: none;
}

li ul {
	margin-left: 30px;
  list-style-type: disc;
}

a, .hiddenlist, .hiddendeets {
	color: #A85751;
	transition: opacity 0.33s;
	cursor: pointer;
}

a:hover, .hiddenlist:hover, .hiddendeets:hover {
	opacity: 0.5;
}

.lalign {
  float: left;
}

.ralign {
  float: right;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

#navbar {
  background-color: #EEE;
  position: fixed;
  top: 0;
  height: 43px;
  width: 100%;
  z-index: 1;
}

#navbar a {
  float: right;
  font-size: 18px;
  /*color: #333;*/
  padding: 8px 16px;
  text-decoration: none;
}

#navbar > a:first-child {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

/*#navbar a:hover {
  background-color: #24323E;
}*/

.dropdown {
  float: left;
}

#dd-children {
  display: none;
  position: absolute;
  min-width: 160px;
  font-size: 16px;
  text-indent: 10px;
  top: 43px;
  z-index: 1;
  background-color: #3C5366;
}

#dd-children a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1;
}

.cover-photo {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 56.25vw;
  opacity: 0.5;
  filter: alpha(opacity = 5);  /* for elderly browsers */
}

.cover-text {
  position: relative;
  display: table;
  width: 80%;
  margin: 0 auto;
  height: 56.25vw;
  color: #EEE;
  background-color: transparent;
  text-shadow: black 0px 0px 5px;
  text-align: center;
}

/*.cover-text h1, p {
  color: #EEE;
  background-color: transparent;
  text-shadow: black 0px 0px 5px;
}*/

.cover-text h1 a {
  color: #FF857C;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
}

.wrapper .wrapper {
  width: 100%;
  margin: 5% auto;
	overflow: hidden;
}

.fade-in {
  opacity: 0;
}

.box-wrapper {
  width: 99%;
	margin: 2% auto 4% auto;
	border: 1px solid #999;
  box-shadow: 0px 3px 5px #999;
}

.box-wrapper > div {
	width: 95%;
	margin: 2% auto;
	overflow: hidden;
}

.bottom-border {
  border-bottom: 1px solid #555;
}

.bottom-pad {
  padding-bottom: 2%;
}

.icon {
	width: 10%;
	float: left;
  text-align: center;
  padding-top: 1%;
}

#leadership .icon {
  /* this icon already has some padding */
  width: 13%;
  padding: 1%;
}

.info {
	width: 80%;
	padding: 0% 2.5% 2.5% 2.5%;
	float: left;
}

.info h3 {
	font-weight: bold;
  margin-bottom: 5px;
}

.details {
	margin-top: 2%;
}

.details p {
	text-decoration: underline;
}

.details li {
  margin-top: 10px;
}

#resume {
  margin-top: 93px;
}

#summary {
  text-align: justify;
  text-justify: inter-word;
}

#education .details p {
  margin-left: 15px;
}

#education .details ul {
  margin-left: 30px;
}

.hidden {
	display: none;
}

#education-header {
  overflow: hidden;
}

#education-header h3 {
  margin: 0;
}

.column {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

#contact h2 {
  text-align: center;
  margin-top: 50px;
}

#contact p {
  text-align: center;
  font-size: calc(13px + 0.5vw);
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  height: 150px;
  padding: 20px;
  background-color: #3C5366;
  color: #EEE;
  font-size: 12px;
  position: relative;
}

footer a {
  color: #FF857C;
}
